# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# ChromaDB / vector database
data/vectorstore/

# Logs
logs/*.jsonl

# Environment variables
.env

# VS Code
.vscode/

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db